.home-main {
    height: 100vh;
    // background-image: url("/assets/aurora.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
