<div class="header-main">
    <div class="header-logo">
      <img src="/assets/logo.svg" alt="logo">
      <p class="header-title">WANDERTALES</p>
    </div>
  
    <div class="header-content">
      <div class="btn-share-experience">
        <img src="/assets/plus.svg" alt="add">
        Share your experience
      </div>
  
      <div class="header-login" (click)="toggleDropdown()">
        <img src="/assets/login.svg" alt="login-logo">
        <span *ngIf="userName">{{ userName }}</span>
        <div class="dropdown" *ngIf="dropdownVisible">
          <button (click)="logout()">Log out</button>
        </div>
      </div>
    </div>
  </div>
  