<h2>Trending</h2>
<div class="trending-container">
  <div class="trending-post-overview">
    <img src="/assets/trending.jpg" alt="trending-img">
  </div>
  <div class="trending-post-description">
    <p class="trending-creator">
      Krishna Anand
    </p>
    <p class="trending-date">
      12-June-2024
    </p>
    <p class="trending-description">
      Beneath a vast, clear blue sky, a magnificent historical building stands as a testament to the past, its
      architecture a blend of timeless elegance and enduring strength. The building's facade is adorned with intricate
      carvings, each telling a story of a bygone era, while tall, arched windows allow sunlight to cascade inside,
      illuminating its grandeur. The walls, weathered yet resilient.
    </p>
  </div>

</div>