.post-main {
  display: flex;
  justify-content: center;
}
.post-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  background: rgba(250, 250, 250, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.post-input {
  background-color: transparent;
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
  font-size: 16px;
}
.post-input::placeholder{
  opacity: 60%;
}

.post-button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.post-button:disabled{
  background-color: #28a745;
  cursor:not-allowed;
}
.post-button:hover {
  background-color: #218838;
}
